.spot-card {
  position: relative;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
}

.visible {
  visibility: visible;
}

.spot-card > img {
  border-radius: 5px;
}

.star-rating {
  display: flex;
  align-items: center;
  gap: 2px;
}

.star-rating > i {
  position: relative;
  bottom: 2px;
}

.spot__city-state {
  padding-right: 5px;
}
