.spot-card {
  position: relative;
}
.tooltip {
  visibility: hidden;
  position: absolute;
  bottom: 20%;
  left: 30%;
  background-color: black;
  padding: 5px;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
}

.visible {
  visibility: visible;
}
