/* TODO Add site wide styles */
:root {
  --main-font: 'Poppins', sans-serif;
  --main-color: rgb(255, 56, 92);
  --border-color: #dddddd;
  --background-color: #ffffff;
  --box-shadow: -2px 3px 5px black;
  --btn-text-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
}

button:hover {
  cursor: pointer;
}

.app-body {
  margin: 20px 40px;
}

.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
