.new-reservation-container {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  gap: 20px;
}

.new-reservation-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dates-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.dates-container__start-date, .dates-container__end-date {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
