.profile-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  right: 1%;
  top: 8%;
  padding: 20px;
  background: transparent;
  list-style-type: none;
  cursor: pointer;
  margin: 0;
  text-align: inherit;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 21px;
  transition: box-shadow 0.2s ease;
  z-index: 1;
}

.dropdown-link {
  color: black;
}

.dropdown-link:hover {
  color: var(--main-color);
}

.user-email {
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

.btn {
  padding: 5px 10px;
}

.user-btn {
  display: flex;
  gap: 5px;
  float: right;
  font-size: 20px;
  position: sticky;
  border-radius: 20px;
  background-color: var(--background-color);
}

.logout-btn {
  color: white;
  font-family: var(--main-font);
  background-color: rgb(236, 12, 12);
  border-radius: 20px;
  border: 1px solid var(--main-color);
  padding: 5px 10px;
}

.open-modal {
  background-color: var(--background-color);
  border: none;
}

.open-modal:hover {
  color: var(--main-color);
}

.pb__manage-spots {
  background-color: var(--background-color);
  border: none;
  font-size: inherit;
}
